.remove-img {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img-back {
  position: relative;
}

.img-front {
  position: absolute;
  right: 0%;
  transform: translate(30%, -45%);
}
