.toolbar-text {
  color: var(--text);
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--tone);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

@media screen and (max-width: 700px) {
  .toolbar {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
  }
}

.toolbar button {
  padding: 8px 8px;
  background-color: var(--tool-button);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 100%;
}

.toolbar select {
  padding: 8px 8px;
  background-color: var(--tool-button);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 100%;
}

.toolbar .dropdown {
  background-color: var(--tool-button);
  margin-bottom: 0;
  border: 0;
  width: auto;
  justify-content: center;
}

.toolbar select:hover {
  background-color: var(--tool-button-hover);
}

.toolbar option {
  background-color: var(--tone);
  color: var(--text);
}

.toolbar label {
  margin-top: 5px;
}

.toolbar button:hover {
  background-color: var(--tool-button-hover);
}
