.toolbar-text {
  color: var(--text);
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--tone);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 6rem;
}

@media screen and (max-width: 700px) {
  .toolbar {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    width: 95%;
  }
}

.toolbar button {
  padding: 8px 8px;
  background-color: var(--tool-button);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toolbar button:hover {
  background-color: var(--tool-button-hover);
}
