.tab {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-canvas {
  margin-top: 15px;
}

.tab button {
  width: auto;
}
