.tab-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tab-canvas {
  margin-top: 15px;
}

.buts {
  width: auto;
}

.buts button {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .tab {
    flex-direction: column;
  }

  .buts button {
    width: auto;
  }
}
