.golf-ball-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.golf-template {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

.golf-real-size {
  width: 173px;
  height: 173px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

.image-body {
  margin-top: 10px;
  margin: 0 auto;
}

.upload-img {
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.slider {
  width: 100%;
}

.slider-text {
  margin-top: 5px;
  font-size: 0.9em;
}

.stl-viewer {
  width: 500px;
  height: 500px;
}

/* Style the submit button */
.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.display-name {
  margin-left: auto;
  margin-right: auto;
}

.ball-displays {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
