.editor {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.canvas {
  width: 500px;
  height: 500px;
  border-radius: 10%;
  border: 2px solid black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

.right-panel {
  display: flex;
  flex-direction: column;
}

.right-button {
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
}
